Loading the libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')
print("successful")

successful

In [3]:
dem_df = pd.read_csv(r"C:\Users\Open User\Downloads\OPTIMAL_combined_3studies_6feb2020.csv")
demen_df = dem_df.copy()
demen_df

,ID,age,gender,dementia,dementia_all,educationyears,EF,PS,Global,diabetes,...,hypercholesterolemia,lacunes_num,fazekas_cat,study,study1,SVD Simple Score,SVD Amended Score,Fazekas,lac_count,CMB_count
0,1,52.67,male,0.0,0,11.0,-2.403333,-1.290000,-1.287000,0,...,Yes,more-than-zero,2 to 3,scans,scans,3.0,7.0,3,>5,>=1
1,10,64.58,male,0.0,0,10.0,1.280000,0.360000,0.744000,0,...,Yes,more-than-zero,0 to 1,scans,scans,2.0,3.0,1,1 to 2,>=1
2,100,74.92,male,0.0,0,8.0,-1.440000,-1.520000,-0.922000,0,...,Yes,more-than-zero,0 to 1,scans,scans,1.0,2.0,1,1 to 2,0
3,101,74.83,male,1.0,1,9.0,NaN,-2.136271,-1.301102,0,...,Yes,more-than-zero,2 to 3,scans,scans,2.0,4.0,2,3 to 5,0
4,102,79.25,male,0.0,0,10.0,-0.920000,-1.493333,-0.924000,0,...,Yes,more-than-zero,2 to 3,scans,scans,2.0,3.0,2,1 to 2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1837,989,67.00,female,0.0,0,13.0,-0.100000,-0.020000,-0.260000,0,...,Yes,zero,0 to 1,ASPS-elderly,ASPS,NaN,NaN,0,Zero,0
1838,990,71.00,female,0.0,0,13.0,-0.370000,-1.060000,-1.003333,0,...,Yes,zero,0 to 1,ASPS-elderly,ASPS,NaN,NaN,1,Zero,0
1839,991,55.00,male,0.0,0,10.0,0.460000,0.960000,0.610000,0,...,Yes,zero,0 to 1,ASPS-elderly,ASPS,0.0,0.0,0,Zero,0
1840,995,54.00,male,0.0,0,10.0,0.190000,0.030000,0.590000,0,...,Yes,zero,0 to 1,ASPS-elderly,ASPS,0.0,0.0,1,Zero,0
1841,996,68.00,female,0.0,0,10.0,0.510000,-0.530000,-0.100000,0,...,Yes,more-than-zero,2 to 3,ASPS-elderly,ASPS,NaN,NaN,2,1 to 2,0

In [4]:
demen_df.columns

Index(['ID', 'age', 'gender', 'dementia', 'dementia_all', 'educationyears',
       'EF', 'PS', 'Global', 'diabetes', 'smoking', 'hypertension',
       'hypercholesterolemia', 'lacunes_num', 'fazekas_cat', 'study', 'study1',
       'SVD Simple Score', 'SVD Amended Score', 'Fazekas', 'lac_count',
       'CMB_count'],
      dtype='object')

In [5]:
demen_df.nunique()

ID                      1467
age                      630
gender                     2
dementia                   2
dementia_all               2
educationyears            26
EF                       686
PS                       738
Global                  1014
diabetes                   2
smoking                    3
hypertension               2
hypercholesterolemia       2
lacunes_num                2
fazekas_cat                2
study                      4
study1                     3
SVD Simple Score           4
SVD Amended Score          8
Fazekas                    4
lac_count                  4
CMB_count                  2
dtype: int64

## Data Examination for components like trends, seasonality, etc.
- Examine the structure and components of the data (e.g., trend, seasonality, cycles).
- Identify any anomalies or missing values.
- Understand the domain to make informed decisions. etc.

## Data Preprocessing 
- missing values
- duplicates 
- outliers detection
- noises etc.

## Feature Engineering 
- Create additional features such as lagged values, rolling means, or seasonal indicators.
- Extract date-time features (e.g., day of the week, month).

## Exploratory Data Analysis (EDA)
- Visualize Data:
- Plot the time series to identify patterns.
- Use plots like line plots, autocorrelation plots, and seasonal decomposition
- Calculate summary statistics.
- Perform stationarity tests (e.g., Augmented Dickey-Fuller test).

## Feature selection 
- try different feature selection technique

# Modeling

## Splitting the data 
- Split the data into training and testing sets while preserving the time order.
- Consider using a validation set or cross-validation (e.g., TimeSeriesSplit).

## Scaling/Normalization

## Pipeline with baseline models for training and evaluatio with mean absolute error, rmse, mape, minimum absolute error and maximum absolute error 
- elastic net 
- xgboost 
- lightgbm
- random forest 
- mlp 
- gradient boost
- facebook prophet 

**Note** : we can submit the best prediction gotten from the best model

## Retrain the best two models and evaluate them 
- feature importance 
- sharp values 
- hyper parameter tuning 
- Plot predited against actual 

**Note** : We can submit

## Ensemble all the algorithms using stacking , train , evaluate

**We can start again using another feature selection technique until we exhaust the feature selection techniques**

# Using Deep Learning Approach 
- LSTM